<footer class="footer">
  <p><strong>Derechos de autor: CIRRUS IT S.R.L.</strong></p>
  <p>Todo el contenido de este sitio web es propiedad de Cirrus IT S.R.L. y está protegido por las leyes de derechos de autor. El acceso y uso de este sitio está restringido a aquellos que hayan firmado los acuerdos de confidencialidad correspondientes con Cirrus IT S.R.L. Queda estrictamente prohibida la reproducción, distribución, modificación o cualquier otro uso no autorizado del contenido de este sitio.</p>
</footer>
